            body
            {
                background-color: white;
            }
           form{
            text-align: center;
             display: inline-block;

            }
           #tb{
            transition: box-shadow .3s;
            width: 500px;
            height: 40px;
            margin: 15px;
            border-radius:30px;
            border: 1px solid #ccc;
            background: #fff;
            

           }
           #tb:hover {
            box-shadow: 0 0 11px rgba(33,33,33,.2); }
            #img {
                text-align: center;
                vertical-align: middle;
                margin:3px;

                top:0;
                left:0;
                right:0;
                bottom: 0px;
                margin:150px;
             }
             .topnav a:hover {
                color: black;
                background-color: #ddd;
             }

            .topnav a > div{
                padding: 5px;
                display: inline-block;
                

            }     
            .sb{
                background-color: #f8f9fa;
                border: 1px solid white;
                border-radius:5px;
                padding:10px;
                width: 120px;
                margin: 20px;
                height:40px;
                padding: 5px;

            }
            .sb:hover{
                box-shadow: 0 0 11px rgba(33,33,33,.2);
            }